{{#each this}}
<li class="country-list__item">
  <article class="country__card">
   
    <div class="country__content">
      <h2 class="country__title">{{name}}</h2>
      <p class="country__descr">
        Capital:
        {{capital}} 
      </p>

      <p class="country__descr">
        Population:
        {{population}}
      </p>
    
    <h3 class="country__title">Languages:</h3>
      <ul class="country__languages-list">
        
        {{#each languages}}
        <li class="languages-list__item">{{this.name}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="country__img-thumb">
      <img src="{{flag}}" alt="{{name}}" class="card__image"  />
    </div>

  </article>
  </li>
{{/each}}